{include file='public/head'}
<body>
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页
	<span class="c-gray en">&gt;</span> 资讯管理
	<span class="c-gray en">&gt;</span> 资讯分类
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" >
		<i class="Hui-iconfont">&#xe68f;</i>
	</a>
</nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
		<a href="javascript:;" onclick="classfiy_add('添加分类','{:url('Article/articleclassifyadd')}','800','550')" class="btn btn-primary radius">
			<i class="Hui-iconfont">&#xe600;</i> 添加分类
		</a>
	</span>
	<span class="r">共有数据：
		<strong>8</strong> 条
	</span>
</div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr class="text-c">
				<th width="40">ID</th>
				<th width="100">分类名称</th>
				<th width="">描述</th>
				<th width="50">排序</th>
				<th width="100">是否显示在导航内</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			{foreach $classfiy as $class}
			<tr class="text-c">
				<td>{$class.cat_id}</td>
				<td>{$class.classfiy_name}</td>
				<td>{$class.desc}</td>
				<td>{$class.sort_order}</td>
				{if condition="$class.show_in_nav eq 1"}
				<td class="td-status"><span class="label label-success radius">显示</span></td>
				{else/}
				<td class="td-status"><span class="label radius">不显示</span></td>
				{/if}
				<td class="td-manage">
					{if condition="$class.show_in_nav eq 1"}
					<a style="text-decoration:none" onClick="classfiy_stop(this,'{$class.cat_id}')" href="javascript:;" title="不显示"><i class="Hui-iconfont">&#xe631;</i></a>
					{else/}
					<a style="text-decoration:none" onClick="classfiy_show(this,'{$class.cat_id}')" href="javascript:;" title="显示"><i class="Hui-iconfont">&#xe615;</i></a>
					{/if}
					<a title="编辑" href="javascript:;" onclick="classfiy_edit('分类编辑','{:url('articleClassifyEdit')}?id='+{$class.cat_id},'1','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>
					<a title="删除" href="javascript:;" onclick="classfiy_del(this,'{$class.cat_id}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>
			{/foreach}
		</tbody>
	</table>
</div>
{include file='public/foot'}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

/*分类-增加*/
function classfiy_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*分类删除*/
function classfiy_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '{:url("classfiyDel")}',
			data: 'id='+id,
			dataType: 'json',
			success: function(res){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				layer.msg('error!',{icon:1,time:1000});
			},
		});
	});
}
/*是否显示在导航内*/
function show_in_nav(){

}

/*分类-编辑*/
function classfiy_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*分类-是否显示在导航-不显示*/
function classfiy_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		$.ajax({
			url:"{:url('classfiyLock')}",
			data:{id: id,type: 0},
			type:'post',
			success:function(res){
				if(res == 'true'){
					$(obj).parents("tr").find(".td-manage").prepend('<a onClick="classfiy_show(this,'+ id +')" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label radius">不显示</span>');
					$(obj).remove();
					layer.msg('已取消显示!',{icon: 5,time:1000});
				}else{
					layer.msg('停用失败!', {icon: 2,time:1000});
				}
			}
		});
	});
}

/*分类-是否显示在导航-显示*/
function classfiy_show(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		$.ajax({
			url:"{:url('classfiyLock')}",
			data:{id: id,type: 1},
			type:'post',
			success:function(res){
				if(res == 'true'){
					$(obj).parents("tr").find(".td-manage").prepend('<a onClick="classfiy_stop(this,'+ id +')" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
						$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">显示</span>');
						$(obj).remove();
						layer.msg('更改成功!', {icon: 6,time:1000});
				}else{
					layer.msg('启用失败!', {icon: 2,time:1000});
				}
			}
		});
	});
}
</script>
</body>
</html>