{include file='public/head'}
{include file='public/page'}
	<body>
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 资讯管理 <span class="c-gray en">&gt;</span> 资讯列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
	<div class="page-container">
		<div class="text-c">
			<form action="{:url('Article/articleList')}" method="get">
			
			日期范围:
			<input type="text" onfocus="WdatePicker()" id="logmin" name="start_date" value="{$condition.start_date}" class="input-text Wdate" style="width:120px;" autocomplete="off">
			-
			<input type="text" onfocus="WdatePicker()" id="logmax" name="end_date" value="{$condition.end_date}" class="input-text Wdate" style="width:120px;" autocomplete="off">
			<input type="text" name="keyword" value="{$condition.keyword}" id="" placeholder=" 资讯名称" style="width:250px" class="input-text">
			<button name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜资讯</button>
		 </form>
		</div>
		<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="articlesdel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> <a class="btn btn-primary radius" data-title="添加资讯" data-href="{:url('articleAdd')}" onclick="Hui_admin_tab(this)" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加资讯</a></span> <span class="r">共有数据：<strong>{:count($articles)}</strong> 条</span> </div>
		<div class="mt-20">
			<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
				<thead>
					<tr class="text-c">
						<th width="25"><input type="checkbox" name="" value=""></th>
						<th width="80">ID</th>
						<th>标题</th>
						<th width="80">分类</th>
						<th width="80">来源</th>
						<th width="120">更新时间</th>
						<th width="75">浏览次数</th>
						<th width="60">发布状态</th>
						<th width="120">操作</th>
					</tr>
				</thead>
				<tbody>
					{foreach $article as $val}
					<tr class="text-c">
						<td><input type="checkbox" value="{$val.article_id}" name="ids[]"></td>
						<td>{$val.article_id}</td>
						<td class="text-l"><u style="cursor:pointer" class="text-primary" onClick="article_edit('查看','article-zhang.html','10002')" title="查看">{$val.title}</u></td>
						<td>{$val.classfiy_name}</td>
						<td>{$val.keywords}</td>
						<td>{:date("Y-m-d H:i:s",$val["add_time"])}</td>
						<td>{$val.click}</td>
						<td class="td-status">
							{if condition='$val["is_lock"] eq 0'}
							<span class="label label-success radius">草稿</span>
							{elseif condition='$val["is_lock"] eq 1' /}
							<span class="label label-success radius">已发布</span>
							{else/}
							<span class="label label-defaunt radius">已下架</span>
							{/if}
						</td>
						<td class="f-14 td-manage">
						{if condition='$val["is_lock"] eq 0'}
						<a style="text-decoration:none" onClick="article_shenhe(this,'{$val.article_id}')" href="javascript:;" title="审核">审核</a>
						{elseif condition='$val["is_lock"] eq 1'/}
						<a style="text-decoration:none" onClick="article_stop(this,{$val.article_id})" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>
						{else/}
						<a style="text-decoration:none" onClick="article_start(this,{$val.article_id})" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>
						{/if}
						<a style="text-decoration:none" class="ml-5" onClick="articleedit('资讯编辑','{:url("Article/articleEdit",["article_id"=>$val["article_id"]])}','{$val.article_id}','10001')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> 
						<a style="text-decoration:none" class="ml-5" onClick="articledel(this,'{$val.article_id}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
					</tr>
					{/foreach}
				</tbody>
					  <tr>
				        <td style='text-align: center' colspan="10">{$page}</td>
			         </tr>
		        
			</table>
		</div>
	</div>
	{include file='public/foot'}
	<script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
	<script type="text/javascript" src="__ADMIN__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
	<script type="text/javascript" src="__ADMIN__/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript">
	/*资讯-添加*/
	function article_add(title,url,w,h){
		var index = layer.open({
			type: 2,
			title: title,
			content: url
		});
		layer.full(index);
	}
	/*资讯-编辑*/
	function articleedit(title,url,id,w,h){
		var index = layer.open({
			type: 2,
			title: title,
			content: url
		});
		layer.full(index);
	}
	/*资讯-删除*/
	function articledel(obj,id){
		layer.confirm('确认要删除吗？',function(index){
			$.ajax({
				type: 'POST',
				url: '{:url("Article/articledel")}',
				data: {article_id: id},
				dataType: 'json',
				success: function(data){
				if (data.status==1) {
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			}else{
				layer.msg('删除失败!',{icon:2,time:1000});
			     }
			},
			error:function(data) {
				console.log(data.msg);
			},
			});		
		});
	}
/*文章-批量删除*/
function articlesdel(){
	layer.confirm('确认要删除吗？',function(index){
		//获取所有的已经被选中的复选框的value值
		var ids= '';
		var obj= new Array();
		$("input[name='ids[]']").each(function(key, item) {
			if ($(item).prop('checked')){
				ids += $(item).val() + ',';
				obj.push(item);
			}
		})
			if (ids==''){
				layer.msg('请选择要删除的文章!',{icon:3,time:1000});
				return ;
		}
		$.ajax({
			type: 'POST',
			url: '{:url("Article/articlesdel")}',
			data: {ids: ids},
			dataType: 'json',
			success: function(data){
				if (data.status==1) {
					$.each(obj,function(k,v){
						$(v).parents("tr").remove();
					})
				layer.msg('已删除!',{icon:1,time:1000});
			}else{
				layer.msg('删除失败!',{icon:2,time:1000});
			     }
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
	/*资讯-审核*/
	function article_shenhe(obj,id){
		layer.confirm('审核文章？', {
			btn: ['通过','不通过','取消'], 
			shade: false,
			closeBtn: 0
		},
		function(){
			$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_start(this,'+id+')" href="javascript:;" title="申请上线">申请上线</a>');
			$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
			$(obj).remove();
			layer.msg('已发布', {icon:6,time:1000});
		},
		function(){
			$(obj).parents("tr").find(".td-manage").prepend('<a class="c-primary" onClick="article_shenqing(this,'+id+')" href="javascript:;" title="申请上线">申请上线</a>');
			$(obj).parents("tr").find(".td-status").html('<span class="label label-danger radius">未通过</span>');
			$(obj).remove();
	    	layer.msg('未通过', {icon:5,time:1000});
		});	
	}
	/*资讯-下架*/
	function article_stop(obj,id){
		layer.confirm('确认要下架吗？',function(index){
			$.ajax({
			type: 'POST',
			url: '{:url("article/articlelock")}',
			data: {type: 2, article_id: id},
			success: function(data){
			if(data == 'true') {			
			$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_start(this,'+id+')" href="javascript:;" title="发布"><i class="Hui-iconfont">&#xe603;</i></a>');
			$(obj).parents("tr").find(".td-status").html('<span class="label label-defaunt radius">已下架</span>');
			$(obj).remove();
			layer.msg('已下架!',{icon: 5,time:1000});
			}else{
			layer.msg('异常错误!',{icon: 2,time:1000});
			}
		  },
		  error:function(data) {
		  	console.log(data.msg);
		  }
		});
	  });
	}
	/*资讯-发布*/
	function article_start(obj,id){
		layer.confirm('确认要发布吗？',function(index){
			$.ajax({
			type: 'POST',
			url: '{:url("article/articlelock")}',
			data: {type: 1, article_id: id},
			success: function(data){
			if(data == 'true') {
			$(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="article_stop(this,'+id+')" href="javascript:;" title="下架"><i class="Hui-iconfont">&#xe6de;</i></a>');
			$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
			$(obj).remove();
			layer.msg('已发布!',{icon: 6,time:1000});
			}else{
			layer.msg('异常错误!',{icon: 2,time:1000});
			}
		  },
		  error:function(data) {
		  	console.log(data.msg);
		  }
		});
	  });
	}
</script> 
</body>
</html>