<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <link rel="stylesheet" type="text/css" href="__HOME__/css/tpshop.css" />
        <link rel="stylesheet" type="text/css" href="__HOME__/css/base.css" />
        <link rel="stylesheet" href="__HOME__/css/location.css" type="text/css">

        <script src="__HOME__/js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="__HOME__/js/layer/layer.js"></script>
        <script src="__HOME__/js/global.js"></script>
        <script src="__HOME__/js/pc_common.js"></script>
        <style>
            @media screen and (min-width:1260px) and (max-width: 1465px) { .w1430{width: 1224px;} } @media screen and (max-width: 1260px) { .w1430{width: 983px;} }

        </style>
    </head>
    {include file="pub/header"}
    <body>
    <div style="background-color: #fff">
          <div class="search-box p">
            <div class="w1430">
                <div class="search-path fl"> 
                    <i class="litt-xyb"></i>
                    <!--当前分类--></div>   
            </div>
        </div>
        <!-- 筛选 start -->
        <div class="search-opt troblect">
            <div class="w1430">
                <div class="opt-list">
                    <!-- 分类筛选 start -->
                    
                    <!-- 品牌筛选 start -->
                    
                    <!-- 品牌筛选 end -->
                    <!-- 规格筛选 start -->
                    
                    <!-- 属性筛选 end -->
                    <!-- 价格筛选 start -->
                     <dl class="brand-section m-tr">
                        <dt>价格</dt>
                        <dd class="ri-section">
                            <div class="lf-list">
                                <div class="brand-list">
                                    <div class="clearfix p">
                                        <a href="{:url('priceList')}?price=0,1000">
                                            <span>1000元以下</span></a>
                                        <a href="{:url('priceList')}?price=999,2000">
                                            <span>1000-2000元</span></a>
                                        <a href="{:url('priceList')}?price=1999,3000">
                                            <span>2000-3000元</span></a>
                                        <a href="{:url('priceList')}?price=2999,4000">
                                            <span>3000-4000元</span></a>
                                        <a href="{:url('priceList')}?price=3999,9999999999">
                                            <span>4000元以上</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="lr-more">
                                <!--<a href="javascript:void(0)"><span class="dx_choice">多选</span><i class="litt-pluscr"></i></a>-->
                                <!--<a href="javascript:void(0)"><span class="gd_more">更多</span><i class="litt-tcr"></i></a>-->
                                <!--填写筛选价格区间-s-->
                                <form action="{:url('priceList')}" method="post" id="price_form">
                                    <input type="text" onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" name="start_price" id="start_price" value="" />
                                    <span>-</span>
                                    <input type="text" onpaste="this.value=this.value.replace(/[^\d]/g,'')" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" name="end_price" id="end_price" value="" />
                                    <input type="submit" value="确定" onClick="if($('#start_price').val() !='' && $('#end_price').val() !='' ) $('#price_form').submit();" /></form>
                                <!--填写筛选价格区间-e--></div>
                        </dd>
                    </dl>
                    <!-- 价格筛选 end --></div>
                <p class="moreamore">
                    <a>浏览更多</a>
                </p>
            </div>
        </div>
        <!-- 筛选 end -->
        <div class="shop-list-tour ma-to-20 p">
            <div class="w1430">
                <div class="tjhot fl">
                    <div class="sx_topb">
                        <h3>推荐热卖</h3></div>
                    <div class="tjhot-shoplist" id="ajax_hot_goods">
                        {foreach $hots as $hot}
                        <div class="alone-shop">
                            <a href="{:url('productDetails', ['good_id'=>$hot['good_id']])}">
                                <img class="lazy" data-original="{$hot.img[0]}" /></a>
                            <p class="line-two-hidd">
                                <a href="{:url('productDetails', ['good_id'=>$hot['good_id']])}">{$hot.good_name}</a></p>
                            <p class="price-tag">
                                <span class="li_xfo">￥</span>
                                <span>{$hot.shop_price}</span></p>
                        </div>
                       {/foreach}
                    </div>
                </div>
                <div class="stsho fr">
                    <div class="sx_topb ba-dark-bg">
                        <div class="f-sort fl">
                            <ul>
                                <li class="red">
                                    <a href="{:url('productList')}">综合</a></li>
                                <li class="">
                                    <a href="{:url('orderList')}?order=sale_num">销量</a></li>
                                <li class="">
                                    <a href="{:url('orderList')}?order=shop_price">价格
                                        <i class="litt-zzx1"></i></a>
                                </li>
                                <li class="">
                                    <a href="{:url('orderList')}?order=comment_num">评论</a></li>
                                <li class="">
                                    <a href="{:url('orderList')}?order=is_hot">热卖</a></li>
                            </ul>
                        </div>
                        <div class="f-address fl">
                            <!--<div class="shd_address">-->
                            <!--<div class="shd">收货地：</div>-->
                            <!--<div class="add_cj_p"><input type="text" id="city" /></div>-->
                            <!--</div>--></div>
                        <div class="f-total fr">
                            <div class="all-sec">共
                                <span>10</span>个商品</div>
                            <div class="all-fy">
                                <a>&lt;</a>
                                <p class="fy-y">
                                    <span class="z-cur">1</span>/
                                    <span>1</span></p>
                                <a>&gt;</a>
                            </div>
                        </div>
                    </div>
                    <div class="shop-list-splb p">
                        <ul>
                            {foreach $goods as $good}
                            <li>
                                <div class="s_xsall">
                                    <div class="xs_img">
                                        <a href="{:url('productDetails', ['good_id'=>$good['good_id']])}">
                                            <img class="lazy-list" data-original="{$good.img[0]}" /></a>
                                    </div>
                                    <div class="xs_slide">
                                        <div class="small-xs-shop">
                                            <ul>
                                                {foreach $good.img as $img}
                                                <li>
                                                    <a href="javascript:void(0);">
                                                        <img class="lazy-list" data-original="{$img}" /></a>
                                                </li>
                                                {/foreach}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="price-tag">
                                        <span class="now">
                                            <em class="li_xfo">￥</em>
                                            <em>{$good.shop_price}</em></span>
                                        <span class="old">
                                            <em>￥</em>
                                            <em>{$good.market_price}</em></span>
                                    </div>
                                    <div class="shop_name2">
                                        <a href="{:url('productDetails', ['good_id'=>$good['good_id']])}">{$good.good_name}</a></div>
                                    <div class="J_btn_statu">
                                        <div class="p-num">             
                                        </div>
                                        <div class="p-btn">
                                            <a href="{:url('productDetails')}?good_id={$good.good_id}" onclick="">查看详情</a></div>
                                    </div>
                                </div>
                            </li>
                            {/foreach}

                        </ul>
                    </div>
                    <div class="page p">
                        <div class='dataTables_paginate paging_simple_numbers'>
                            <ul class='pagination'></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            /****猜你喜欢****/
            var favorite_page = 0;
            function favourite() {
                // favorite_page++;
                // $.ajax({
                //     type: "GET",
                //     url: "/index.php?m=Home&c=Index&a=ajax_favorite&i=7&p=" + favorite_page,
                //     //+tab,
                //     success: function(data) {
                //         if (data == '' && favorite_page > 1) {
                //             favorite_page = 0;
                //             favourite();
                //         } else {
                //             $('#favourite_goods').html(data);
                //             lazy_ajax();
                //         }

                //     }
                // });
            }
        </script>
        <!--footer-s-->
        {include file="pub/foot"}
        <!--footer-e-->
        <div class="soubao-sidebar">
            <div class="soubao-sidebar-bg"></div>
            <div class="sidertabs tab-lis-1">
                <div class="sider-top-stra sider-midd-1">
                    <div class="icon-tabe-chan">
                        <a href="/index.php/Home/User/index.html">
                            <i class="share-side share-side1"></i>
                            <i class="share-side tab-icon-tip triangleshow"></i>
                        </a>
                        <div class="dl_login">
                            <div class="hinihdk">
                                <img src="__HOME__/images/dl.png" />
                                <p class="loginafter nologin">
                                    <span>你好，请先</span>
                                    <a href="/index.php/Home/user/login.html">登录！</a>
                                </p>
                                <!--未登录-e--->
                                <!--登录后-s--->
                                <p class="loginafter islogin">
                                    <span class="id_jq userinfo">陈xxxxxxx</span>
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                    <a href="/index.php/Home/user/logout.html" title="点击退出">退出！</a>
                                </p>
                                <!--未登录-s--->
                            </div>
                        </div>
                    </div>
                    <div class="icon-tabe-chan shop-car">
                        <a href="javascript:void(0);" onclick="ajax_side_cart_list()">
                            <div class="tab-cart-tip-warp-box">
                                <div class="tab-cart-tip-warp">
                                    <i class="share-side share-side1"></i>
                                    <i class="share-side tab-icon-tip"></i>
                                    <span class="tab-cart-tip">购物车</span>
                                    <span class="tab-cart-num J_cart_total_num" id="tab_cart_num">0</span>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="icon-tabe-chan massage">
                        <a href="/index.php/Home/User/message_notice.html" target="_blank">
                            <i class="share-side share-side1"></i>
                            <!--<i class="share-side tab-icon-tip"></i>-->
                            <span class="tab-tip">消息</span>
                        </a>
                    </div>
                </div>
                <div class="sider-top-stra sider-midd-2">
                    <div class="icon-tabe-chan mmm">
                        <a href="/index.php/Home/User/goods_collect.html" target="_blank">
                            <i class="share-side share-side1"></i>
                            <!--<i class="share-side tab-icon-tip"></i>-->
                            <span class="tab-tip">收藏</span>
                        </a>
                    </div>
                    <div class="icon-tabe-chan hostry">
                        <a href="/index.php/Home/User/visit_log.html" target="_blank">
                            <i class="share-side share-side1"></i>
                            <!--<i class="share-side tab-icon-tip"></i>-->
                            <span class="tab-tip">足迹</span>
                        </a>
                    </div>
                    <!--<div class="icon-tabe-chan sign">-->
                    <!--<a href="" target="_blank">-->
                    <!--<i class="share-side share-side1"></i>-->
                    <!--&lt;!&ndash;<i class="share-side tab-icon-tip"></i>&ndash;&gt;-->
                    <!--<span class="tab-tip">签到</span>-->
                    <!--</a>-->
                    <!--</div>-->
                </div>
            </div>
            <div class="sidertabs tab-lis-2">
                <div class="icon-tabe-chan advice">
                    <a title="点击这里给我发消息" href="tencent://message/?uin=123456789&amp;Site=TPshop商城&amp;Menu=yes" target="_blank">
                        <i class="share-side share-side1"></i>
                        <!--<i class="share-side tab-icon-tip"></i>-->
                        <span class="tab-tip">在线咨询</span>
                    </a>
                </div>
                <div class="icon-tabe-chan request">
                    <a href="" target="_blank">
                        <i class="share-side share-side1"></i>
                        <!--<i class="share-side tab-icon-tip"></i>-->
                        <span class="tab-tip">意见反馈</span>
                    </a>
                </div>
                <div class="icon-tabe-chan qrcode">
                    <a href="" target="_blank">
                        <i class="share-side share-side1"></i>
                        <i class="share-side tab-icon-tip triangleshow"></i>
                        <span class="tab-tip qrewm">
                            <img src="__HOME__/images/qrcode.png" />扫一扫下载APP
                        </span>
                    </a>
                </div>
                <div class="icon-tabe-chan comebacktop">
                    <a href="" target="_blank">
                        <i class="share-side share-side1"></i>
                        <!--<i class="share-side tab-icon-tip"></i>-->
                        <span class="tab-tip">返回顶部</span>
                    </a>
                </div>
            </div>
            <div class="shop-car-sider"></div>
        </div>
    </div>
    <script src="__HOME__/js/common.js"></script>
        <!--footer-e-->
        <script src="__HOME__/js/lazyload.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="__HOME__/js/popt.js" type="text/javascript" charset="utf-8"></script>
        <script src="__HOME__/js/headerfooter.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript">
            // 更多
            $('.gd_more').parent().click(function() {
                var jed = $(this).parents('.lr-more').siblings();
                jed.toggleClass('ov-inh').find('.brand-box').toggleClass('ov-inh');
                if (jed.toggleClass('ov-inh').find('.brand-list')) {
                    jed.toggleClass('ov-inh').find('.brand-list').toggleClass('ov-inh');
                }
                if (jed.hasClass('ov-inh')) {
                    $(this).find('.gd_more').html('收起');
                } else {
                    $(this).find('.gd_more').html('更多');
                }
            }); 
            var cancelBtn = null;
            /***多选 start*****/
            $('.dx_choice').parent().click(function() {
                var _this = this;
                var st = 0;
                var jed = $(_this).parents('.ri-section'); //当前选项层DIV
                //关闭前一个多选框
                if (cancelBtn != null) {
                    $(cancelBtn).parent().siblings('.clearfix').find('a').each(function(i, o) {
                        $(o).removeClass('addhover-js').find('.litt-zd').hide(); //针对品牌筛选的红色边框和右下角对勾隐藏
                        $(o).removeClass('red_hov_cli') //针对纯文字型选项，隐藏筛选的选中状态
                        .attr('href', $(o).data('href')) //还原连接
                        .children('input').prop('checked', false).hide(); //隐藏多选框
                        $(o).unbind('click');
                    });
                    $(cancelBtn).parents('.lf-list').siblings('.lr-more').show(); //显示其它多选按钮
                    $(cancelBtn).parents('.ri-section').removeClass('sum_ov_inh'); //移除多选样式
                }
                cancelBtn = jed.find('.u-cancel'); //前一个取消按钮
                //打开多选
                jed.addClass('sum_ov_inh'); //添加这一行的样式
                //遍历a标签
                jed.find('.clearfix>a').each(function(i, o) {
                    $(o).attr('href', 'javascript:;'); //移除连接
                    $(o).children('input').show(); //显示多选框
                    $(o).bind('click',
                    function() {
                        if ($(o).hasClass('red_hov_cli')) {
                            //取消选中
                            $(o).find('i').toggle();
                            $(o).removeClass('addhover-js'); //针对品牌选项，改变筛选的选中状态
                            $(o).removeClass('red_hov_cli');
                            $(o).children('input').prop("checked", false);
                            $(o).parent().siblings('.surclofix').children('.u-confirm').removeClass('u-confirm01');
                            st--;
                        } else {
                            $(o).addClass('red_hov_cli');
                            $(o).children('input').prop("checked", true);
                            $(o).find('i').toggle(); 
                            $(o).addClass('addhover-js');
                            $(o).parent().siblings('.surclofix').children('.u-confirm').addClass('u-confirm01');
                            st++;
                        }
                        //如果没有选中项,确定按钮点不了
                        if (st == 0) {
                            jed.find('.u-confirm').disabled = true;
                        }
                    });
                });
                //隐藏当前多选按钮
                $(_this).parent().hide();
            });

            /***多选 end*****/
            //############   取消多选        ###########
            $('.surclofix .u-cancel').each(function() {
                $(this).click(function() {
                    var jed = $(this).parents('.ri-section');
                    //遍历a标签
                    jed.find('.clearfix>a').each(function(i, o) {
                        $(o).removeClass('addhover-js').find('.litt-zd').hide(); //针对品牌筛选的红色边框和右下角对勾隐藏
                        $(o).removeClass('red_hov_cli') //针对纯文字型选项，隐藏筛选的选中状态
                        .attr('href', $(o).data('href')) //还原连接
                        .children('input').prop('checked', false).hide(); //隐藏多选框
                        $(o).unbind('click');
                    });
                    jed.find('.lr-more').show(); //显示多选按钮
                    jed.removeClass('sum_ov_inh') //移除这一行的样式
                    $('.u-confirm').removeClass('u-confirm01'); //移除确定按钮可点击标识
                });
            })

            $(function() {
                favourite();
                //左侧边栏JS
                //      ajax_hot_goods();
                //      ajax_sales_goods();
                //############   更多类别属性筛选  start     ###########
                $('.moreamore').click(function() {
                    $('.m-tr').each(function(i, o) {
                        if (i > 7) {
                            var attrdisplay = $(o).css('display');
                            if (attrdisplay == 'none') {
                                $(o).css('display', 'block');
                            }
                            if (attrdisplay == 'block') {
                                $(o).css('display', 'none');
                            }
                        }
                    });
                    if ($(this).hasClass('checked')) {
                        $(this).removeClass('checked').html('<a class="red">收起</a>');
                    } else {
                        $(this).addClass('checked').html('<a >更多选项</a>');
                    }
                }); 
                $('.moreamore').trigger('click').html('<a >更多选项</a>'); //  默认点击一下
                //############   更多类别属性筛选   end    ###########
                /***价格排序 start*****/
                var price_i = 0;
                $('.f-sort ul li').click(function() {
                    $(this).addClass('red').siblings().removeClass('red').find('i').removeClass('litt-zzx2').removeClass('litt-zzx3').addClass('litt-zzx1');
                    var jd = $(this).find('i');
                    price_i++;
                    if (price_i > 2) price_i = 1;
                    switch (price_i) {
                    case 1:
                        jd.addClass('litt-zzx2').removeClass('litt-zzx1').removeClass('litt-zzx3');
                        break;
                    case 2:
                        jd.addClass('litt-zzx3').removeClass('litt-zzx2').removeClass('litt-zzx1');
                        break;
                    }
                })
                /***价格排序 end*******/
                /***地址选择 start*****/
                $("#city").click(function(e) {
                    SelCity(this, e);
                });
                /***地址选择 end*****/
                /***是否自营 start****/
                $('.choice-mo-shop ul li').click(function() {
                    $(this).find('.litt-zzdg1').toggleClass('litt-zzdg2');
                    $(this).find('a').toggleClass('red');
                })
                /***是否自营 end****/
                /***滑过浏览商品 start***/
                $('.small-xs-shop ul li').hover(function() {
                    $(this).addClass('bored').siblings().removeClass('bored');
                    var small_src = $(this).find('img').attr('src');
                    $(this).parents('.s_xsall').find('.xs_img').find('img').attr('src', small_src);
                },
                function() {

})
                /***滑过浏览商品 end***/
            })

            /****加减购物车数额***/
            function goods_cut($val) {
                var num_val = document.getElementById('number_' + $val);
                var new_num = num_val.value;
                var Num = parseInt(new_num);
                if (Num > 1) Num = Num - 1;
                num_val.value = Num;
            }

            function goods_add($val) {
                var num_val = document.getElementById('number_' + $val);
                var new_num = num_val.value;
                var Num = parseInt(new_num);
                Num = Num + 1;
                num_val.value = Num;
            }
            /****加减购物车数额***/

            //############   点击多选确定按钮      ############
            // t 为类型  是品牌 还是 规格 还是 属性
            // btn 是点击的确定按钮用于找位置
            get_parment = {
                "m": "Home",
                "c": "Goods",
                "a": "goodsList",
                "id": "123"
            };
            function submitMoreFilter(t, btn) {
                // 没有被勾选的时候
                if (!$(btn).hasClass("u-confirm01")) {
                    return false;
                }

                // 获取现有的get参数
                var key = ''; // 请求的 参数名称
                var val = new Array(); // 请求的参数值
                $(btn).parent().siblings(".clearfix").find(".red_hov_cli").each(function(i, o) {
                    key = $(o).data('key');
                    val.push($(o).data('val'));
                });
                //parment = key+'_'+val.join('_');
                //        return false;
                // 品牌
                if (t == 'brand') {
                    get_parment.brand_id = val.join('_');
                }
                // 规格
                if (t == 'spec') {
                    if (get_parment.hasOwnProperty('spec')) {
                        get_parment.spec += '@' + key + '_' + val.join('_');
                    } else {
                        get_parment.spec = key + '_' + val.join('_');
                    }
                }
                // 属性
                if (t == 'attr') {
                    if (get_parment.hasOwnProperty('attr')) {
                        get_parment.attr += '@' + key + '_' + val.join('_');
                    } else {
                        get_parment.attr = key + '_' + val.join('_');
                    }
                }
                // 组装请求的url
                var url = '';
                for (var k in get_parment) {
                    url += "&" + k + '=' + get_parment[k];
                }
                console.log('get_parment', get_parment);
                location.href = "/index.php?m=Home&c=Goods&a=goodsList" + url;
            }
            //媒体查询
            /*$(function(){
    window.onresize=resizeauto;
    resizeauto();
    function resizeauto(){
        var windowW = $(window).width();
        if(windowW > 1447){
            $('.w1430,.w1224,.w1000').addClass('w1430').removeClass('w1224').removeClass('w1000');
        }else if(windowW <= 1447 && windowW > 1241){
            $('.w1430,.w1224,.w1000').addClass('w1224').removeClass('w1430').removeClass('w1000');
        }else if(windowW <= 1241){
            $('.w1430,.w1224,.w1000').addClass('w1000').removeClass('w1224').removeClass('w1430');
        }
    }
})*/
            </script>

    </body>

</html>