{include file='public/head'}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 广告位置管理 <span class="c-gray en">&gt;</span> 广告位置 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l">
		<a href="javascript:;" onclick="adverposition_add('添加位置','{:url('adverpositionAdd')}','800','550')" class="btn btn-primary radius">
			<i class="Hui-iconfont">&#xe600;</i> 添加位置
		</a>
	</span> 
	<span class="r">共有数据：
		<strong>1</strong> 条
	</span> 
</div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr class="text-c">
				<th width="40">广告位置ID</th>
				<th width="400">广告位置名称</th>
				<th width="100">广告位宽度</th>
				<th width="100">广告位高度</th>
				<th width="">广告位描述</th>
				<th width="100">广告位状态</th>
			</tr>
		</thead>
		<tbody>
			{foreach $adverpositions as $adverposition}
			<tr class="text-c">
				<td>{$adverposition.position_id}</td>
				<td>{$adverposition.position_name}</td>
				<td>{$adverposition.ad_width}</td>
				<td>{$adverposition.ad_height}</td>
				<td>{$adverposition.position_desc}</td>
				{if condition="$adverposition.is_open eq 1"}
				<td class="td-status"><span class="label label-success radius">显示</span></td>
				{else/}
				<td class="td-status"><span class="label radius">不显示</span></td>
				{/if}
			</tr>
			{/foreach}
		</tbody>
	</table>
</div>
{include file='public/foot'}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__ADMIN__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__ADMIN__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">

/*分类-增加*/
function adverposition_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*分类删除*/
function classfiy_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'POST',
			url: '{:url("classfiyDel")}',
			data: 'cat_id='+id,
			dataType: 'json',
			success: function(res){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
			},
			error:function(data) {
				layer.msg('error!',{icon:1,time:1000});
			},
		});		
	});
}
/*是否显示在导航内*/
function show_in_nav(){

}

/*分类-编辑*/
function classfiy_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*分类-是否显示在导航-不显示*/
function classfiy_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		$.ajax({
			url:"{:url('classfiyLock')}",
			data:{cat_id: id,type: 0},
			type:'post',
			success:function(res){
				if(res == 'true'){
					$(obj).parents("tr").find(".td-manage").prepend('<a onClick="classfiy_show(this,'+ id +')" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label radius">不显示</span>');
					$(obj).remove();
					layer.msg('已取消显示!',{icon: 5,time:1000});
				}else{
					layer.msg('停用失败!', {icon: 2,time:1000});
				}
			}
		});		
	});
}

/*分类-是否显示在导航-显示*/
function classfiy_show(obj,id){

	layer.confirm('确认要启用吗？',function(index){
		$.ajax({
			url:"{:url('classfiyLock')}",
			data:{cat_id: id,type: 1},
			type:'post',
			success:function(res){
				if(res == 'true'){
					$(obj).parents("tr").find(".td-manage").prepend('<a onClick="classfiy_stop(this,'+ id +')" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
						$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">显示</span>');
						$(obj).remove();
						layer.msg('更改成功!', {icon: 6,time:1000});
				}else{
					layer.msg('启用失败!', {icon: 2,time:1000});
				}
			}
		});		
	});
}
</script>
</body>
</html>