<div class="tpshop-service">
    <ul class="w1224 clearfix">
        <li>
            <i class="ico ico-day7"></i>
            <p class="service">7天无理由退货</p></li>
        <li>
            <i class="ico ico-day15"></i>
            <p class="service">15天免费换货</p></li>
        <li>
            <i class="ico ico-quality"></i>
            <p class="service">正品行货 品质保障</p></li>
        <li>
            <i class="ico ico-service"></i>
            <p class="service">专业售后服务</p></li>
    </ul>
</div>
<div class="footer">
    <div class="w1224 clearfix" style="padding-bottom: 10px;">
        <div class="left-help-list">

            <div class="right-contact-us">
                <h3 class="title">联系我们</h3>
                <span class="phone">{$cf.cfg_phone}</span>
                <p class="tips">周一至周日8:00-18:00<br />(仅收市话费)</p>
            </div>
            <div class="help-list-wrap clearfix">
                {foreach $articlecats as $cat}
                <dl>

                    <dt>{$cat.classfiy_name}</dt>
                    {foreach $articles as $article}
                    {if condition="$article['cat_id'] eq $cat.cat_id"}
                    <dd><a href="{:url('home/article/articleDetail')}?article_id={$article.article_id}">{$article.title}</a></dd>
                    {/if}
                    {/foreach}
                </dl>
                {/foreach}
            </div>

            <div class="friendship-links clearfix">
                <span>友情链接:</span>
                <div class="links-wrap-h clearfix">
                    {foreach $friends as $friend}
                    <a href="{$friend.link_url}" target="_blank">{$friend.link_name}</a>
                    {/foreach}
                </div>
            </div>
        </div>

    </div>
    <div class="mod_copyright p">
        <div class="grid-top">
            <!-- <a href="javascript:void (0);">关于我们</a><span>|</span>
            <a href="javascript:void (0);">联系我们</a><span>|</span>
            <a href="/Home/Article/detail/article_id/18.html">免运费政策</a><span>|</span>
            <a href="/Home/Article/detail/article_id/19.html">物流查询</a><span>|</span>
            <a href="/Home/Article/detail/article_id/20.html">上门自提</a><span>|</span>
            <a href="/Home/Article/detail/article_id/21.html">配送服务承诺</a><span>|</span> -->
        </div>
        <p>Copyright © 2016-2025 最好的B2B2C商城 版权所有 保留一切权利 备案号:{$cf.cfg_num}</p>
        <p class="mod_copyright_auth">
            <a class="mod_copyright_auth_ico mod_copyright_auth_ico_1" href="" target="_blank">经营性网站备案中心</a>
            <a class="mod_copyright_auth_ico mod_copyright_auth_ico_2" href="" target="_blank">可信网站信用评估</a>
            <a class="mod_copyright_auth_ico mod_copyright_auth_ico_3" href="" target="_blank">网络警察提醒你</a>
            <a class="mod_copyright_auth_ico mod_copyright_auth_ico_4" href="" target="_blank">诚信网站</a>
            <a class="mod_copyright_auth_ico mod_copyright_auth_ico_5" href="" target="_blank">中国互联网举报中心</a>
        </p>
    </div>
</div>
<style>
    .mod_copyright { border-top: 1px solid #EEEEEE; } .grid-top { margin-top: 20px; text-align: center; } .grid-top span { margin: 0 10px; color: #ccc; } .mod_copyright > p { margin-top: 10px; color: #666; text-align: center; } .mod_copyright_auth_ico { overflow: hidden; display: inline-block; margin: 0 3px; width: 103px; height: 32px; background-image: url(__HOME__/images/ico_footer.png); line-height: 1000px; } .mod_copyright_auth_ico_1 { background-position: 0 -151px; } .mod_copyright_auth_ico_2 { background-position: -104px -151px; } .mod_copyright_auth_ico_3 { background-position: 0 -184px; } .mod_copyright_auth_ico_4 { background-position: -104px -184px; } .mod_copyright_auth_ico_5 { background-position: 0 -217px; }
</style>
