                 <div class="le-menu fl">
                        <div class="menu-ul">
                            <ul>
                                <li class="ma"><i class="account-acc1"></i>交易中心</li>
                                <li><a href="{:url('user/userOrderList')}">我的订单</a></li>
                                <li><a href="{:url('user/userComment')}">我的评价</a></li>
                            </ul>
                            <ul>
                                <li class="ma"><i class="account-acc4"></i>个人中心</li>
                                <li><a href="{:url('User/UserInfo')}">个人信息</a></li>
                                <li><a href="">账号绑定</a></li>
                                <li><a href="{:url('User/AddressList')}">地址管理</a></li> 
                            </ul>
                        </div>
                    </div>
