{include file='public/head' title='用户列表'}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 会员管理 <span class="c-gray en">&gt;</span> 会员等级 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> 
		<span class="l">
			<a href="javascript:;" onclick="member_add('新增会员等级','{:url("Member/LevelAdd")}','','510')" class="btn btn-primary radius">
				<i class="Hui-iconfont">&#xe600;</i>新增会员等级
			</a>
		</span> 
		<span class="r">共有数据：<strong></strong> 条</span> 
	</div>
	<div class="mt-20">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="80">ID</th>
				<th width="100">等级名称</th>
				<th width="60">消费额度</th>
				<th width="90">折扣率</th>
				<th width="150">等级描述</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
			{foreach $infos as $vo}
			<tr class="text-c">
				<td>{$vo.level_id}</td>
				<td>{$vo.level_name}</td>
				<td>{$vo.amount}</td>
				<td>{$vo.discount}</td>
				<td>{$vo.describe}</td>
				<td class="td-manage">
					<a title="编辑" href="javascript:;" onclick="level_edit('编辑','{:url('Member/LevelEdit')}?lid='+{$vo.level_id},{$vo.level_id},'','480')" class="ml-5" style="text-decoration:none">
						<i class="Hui-iconfont">&#xe6df;</i>
					</a>
					<a title="删除" href="javascript:;" onclick="member_del(this,{$vo.level_id})" class="ml-5" style="text-decoration:none">
						<i class="Hui-iconfont">&#xe6e2;</i>
					</a>
				</td>
			</tr>
			{/foreach}
		</tbody>
	</table>
	</div>
</div>
{include file='public/foot'}
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script> 
<script type="text/javascript" src="__ADMIN__/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="__ADMIN__/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[]}// 制定列不参与排序
		]
	});
	
});

/*等级添加*/
function member_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*等级-编辑*/
function level_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}

/*等级-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			data:{'id':id},
			type: 'POST',
			url: '{:url("Member/LevelDel")}',
			dataType: 'json',
			success: function(data){
				console.log(data);
				if(data.code==1){
					$(obj).parents("tr").remove();
					layer.msg(data.msg,{icon:1,time:1000});
				}else{
					layer.msg(data.msg,{icon:0,time:1000});
				}	
			},
			error:function(data) {
				console.log(data.msg);
			},
		});		
	});
}
</script> 
</body>
</html>
