{include file='public/head'}

<body>
<article class="page-container">
	<form class="form form-horizontal" id="role-add">
	<input type="hidden" name="role_id" value={$role.role_id}>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="{$role.role_name}" placeholder="" name="role_name">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">角色描述：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea name="role_desc" cols="" rows="" class="textarea"  placeholder="说点什么...100个字符以内" dragonfly="true" onKeyUp="$(this).Huitextarealength(this,100)">{$role.role_desc}</textarea>
			<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
		</div>
	</div>
	<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">网站角色：</label>
			<div class="formControls col-xs-8 col-sm-9">
				{foreach $mods as $key=>$value}
				<dl class="permission-list">
					<dt>
						<label>
							<input type="checkbox" value="{$key}" name="mods[]" id="user-Character-0">
							{$value}</label>
					</dt>
					<dd>
						<dl class="cl permission-list2">
							<dd>
								{foreach $child as $v}
								{if condition="$v.parent_id == $key"}
								<label class="">
									<input type="checkbox" value="{$v.mod_id}" name="child[]" id="user-Character-0-0">
									{$v.title}</label>
								{/if}
								{/foreach}
							</dd>
						</dl>
					</dd>
				</dl>
				{/foreach}
			</div>
		</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>

{include file='public/foot'}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript">
	$(".permission-list dt input:checkbox").click(function(){
		$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
	});
	$(".permission-list2 dd input:checkbox").click(function(){
		var l =$(this).parent().parent().find("input:checked").length;
		var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
		if($(this).prop("checked")){
			$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
			$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
		}
		else{
			if(l==0){
				$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
			}
			if(l2==0){
				$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
			}
		}
	});

	// 
	$("#role-add").validate({
		rules:{
			role_name:{
				required: true,
			}
		},
		onkeyup:false,
		focusCleanup:true,
		success: "valid",
		submitHandler:function(form){
			$(form).ajaxSubmit({
				type: 'post',
				url: "{:url('adminRoleEdit')}",
				success: function(res){
					if(res.code == 1){
						layer.msg(res.msg,{icon:1,time:1000}, function(){
							var index = parent.layer.getFrameIndex(window.name);
							parent.$('.btn-refresh').click();
							window.parent.location.reload(); //刷新父页面
							parent.layer.close(index);
						});
					}else{
						layer.msg(res.msg,{icon:1,time:1500});
					}
				},
                error: function(XmlHttpRequest, textStatus, errorThrown){
					layer.msg('error!',{icon:1,time:1000});
				}
			});
		}
	});
</script> 
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>