<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>地址管理</title>
        <link rel="stylesheet" type="text/css" href="__HOME__/css/tpshop.css"/>
        <link rel="stylesheet" type="text/css" href="__HOME__/css/myaccount.css"/>
        <link rel="stylesheet" type="text/css" href="__HOME__/css/base.css"/>
        <link rel="stylesheet" type="text/css" href="__HOME__/css/location.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="__HOME__/images/logo/storeico_default.png" media="screen"/>
        <script src="__HOME__/js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="__HOME__/js/layer/layer.js"></script>
        <script src="__HOME__/js/global.js" type="text/javascript"></script>
        <script type="text/javascript" src="__HOME__/js/validate/jquery.validate.js"></script>
        <script type="text/javascript" src="__HOME__/js/validate/additional-methods.js"></script>
        <script type="text/javascript" src="__HOME__/js/validate/jquery.form.js"></script>
        <style>.list1 li{float:left;}</style>
    </head>
    <body class="bg-f5">
        <div class="tpshop-tm-hander home-index-top p">
            <div class="top-hander clearfix">
                <div class="w1224 pr clearfix">
                    <div class="fl">
                        <div class="fl nologin">
                            {if session('infos.user_id')}
                            欢迎用户:<a class="red" href="{:url('User/mineinfo')}">{:session('infos.user_name')}</a>&nbsp;&nbsp;
                            <a class=red href="{:url('Login/LoginOut')}" title="退出" target="_self">安全退出</a>
                            {else/}
                                <a href="{:url('Login/login')}">登录</a>
                                <a href="{:url('User/reg')}">注册</a>
                            {/if}
                        </div>
                    </div>
                    <ul class="top-ri-header fr clearfix">
                        <li><a target="_blank" href="/index.php/Home/Order/order_list.html">我的订单</a></li>
                        <li class="spacer"></li>
                        <li><a target="_blank" href="/index.php/Home/User/visit_log.html">我的浏览</a></li>
                        <li class="spacer"></li>
                        <li><a target="_blank" href="/index.php/Home/User/goods_collect.html">我的收藏</a></li>
                        <li class="spacer"></li>
                        <li>客户服务</li>
                        <li class="spacer"></li>
                        <li class="hover-ba-navdh">
                            <div class="nav-dh">
                                <span>网站导航</span>
                                <i class="share-a_a1"></i>
                            </div>
                            <ul class="conta-hv-nav clearfix">
                                <li><a href="/index.php/Home/Activity/promoteList.html">优惠活动</a></li>
                                <li><a href="/index.php/Home/Activity/pre_sell_list.html">预售活动</a></li>
                                <!--<li>
                                <a href="/index.php/Home/Goods/integralMall.html">拍卖活动</a></li>-->
                                <li><a href="/index.php/Home/Goods/integralMall.html">兑换中心</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="nav-middan-z p home-index-head">
            <div class="header w1224">
                <div class="ecsc-logo">
                    <a href="/" class="logo">
                        <img src="__HOME__/upload/logo/2017/11-07/ac0351f4284b701cb9afe48726834a46.png" style="width: 159px;height: 58px">
                    </a>
                </div>
                <div class="m-index">
                    <a href="/index.php/Home/User/index.html" class="index">我的商城</a>
                    <a href="/" class="home">返回商城首页</a>
                </div>
                <div class="m-navitems">
                    <ul class="fixed p">
                        <li><a href="/index.php/Home/Index/index.html">首页</a></li>
                        <li>
                            <div class="u-dl">
                                <div class="u-dt">
                                    <span>账户设置</span><i></i>
                                </div>
                                <div class="u-dd">
                                    <a href="{:url('User/UserInfo')}">个人信息</a>
                                    <!--<a href="/index.php/Home/User/safety_settings.html">安全设置</a>-->
                                    <a href="{:url('User/AddressList')}">收货地址</a>
                                </div>
                            </div>
                        </li>
                        <li class="u-msg">
                            <a class="J-umsg" href="/index.php/Home/User/message_notice.html">消息<span></span></a>
                        </li>
                        <li><a href="/index.php/Home/Goods/integralMall.html">积分商城</a></li>
                        
                    </ul>
                </div>
                <div class="u-g-cart fr" id="hd-my-cart">
                    <a href="/index.php/Home/Cart/index.html">
                        <div class="c-n fl">
                            <i class="share-shopcar-index"></i>
                            <span>我的购物车</span>
                            <em class="shop-nums" id="cart_quantity"></em>
                        </div>
                    </a>
                    <div class="u-fn-cart" id="show_minicart">
                        <div class="minicartContent" id="minicart"></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="__HOME__/js/common.js"></script>
        <div class="home-index-middle">
            <div class="w1224">
                <div class="g-crumbs">
                    <a href="/index.php/Home/User/index.html">我的商城</a>
                    <i class="litt-xyb"></i>
                    <span>地址管理</span></div>
                <div class="home-main">
                	<!--引入左侧菜单-->
                    {include file="pub/left"}
                    <div class="ri-menu fr">
                        <div class="menumain p">
                            <div class="goodpiece">
                                <h1>地址管理</h1>
                            </div>
                            <div class="personerinfro adress_manage">
                            <form action="" method="post" id="address_add">
                                <ul class="name_jz">
                                <li class="infor_wi_le"><em>*</em><a href="javascript:void(0);">收货人：</a></li>
                                <li><a href="javascript:void(0);"><input class="name_zjxs" type="text" name="consignee" id="consignee" value="" placeholder="收货人" /></a></li></ul>
                                <ul class="birth_jz">
                                <li class="infor_wi_le"><em>*</em><a href="javascript:void(0);">所在地区：</a></li>
                                <li>
                                <a href="javascript:void(0);">
                                    <select class='prov'name="province"></select><select class='city' name='city'></select><select class='area' name='district'></select>
                                </a>
                                </li>
                                </ul>
                                <ul class="name_jz wibc">
                                <li class="infor_wi_le"><em>*</em><a href="javascript:void(0);">详细地址：</a></li>
                                <li><a href="javascript:void(0);"><input class="name_zjxs" type="text" name="address" id="address" value="" placeholder="详细地址" /></a></li></ul>
                                <ul class="name_jz">
                                <li class="infor_wi_le"><em>*</em><a href="javascript:void(0);">手机号码：</a></li>
                                <li><a href="javascript:void(0);"><input class="name_zjxs" type="text" name="phone" id="phone" value="" placeholder="手机号码" /></a></li>
                                </ul>
                                <ul class="sex_jz">
                                <li class="infor_wi_le"><a href="javascript:void(0);"></a></li>
                                <li>
                                <a href="javascript:void(0);">
                                <input type="checkbox" name="is_default" id="default" value="0"><label for="set_add">设置为默认收货地址</label></a>
                                </li>
                                </ul>
                                <ul class="sex_jz">
                                <li class="infor_wi_le"><a href="javascript:void(0);"></a></li>
                                <li>
                                <div class="save_s">
                                <input class="save" type="submit" id="" name="" value="保存"></div>
                                </li>
                                </ul>
                            </form>
                            </div>
                            <div class="grou_num_list address_list_jl ma-to-20">
                                <ul class="grou_tite">
                                    <li class="sx2"><span>收货人</span></li>
                                    <li class="sx1"><span>收货地址</span></li>
                                    <li class="sx3"><span>联系电话</span></li>
                                    <li class="sx5"><span>操作</span></li>
                                </ul>
                                <ul class="add_conta">
                                    {if isset($addr)}
                                    {foreach $addr as $vo}
                                    <li class="sx2"><span>{$vo.consignee}</span></li>
                                    <li class="sx1">
                                        <span>{$vo.province}</span>
                                        <span>{$vo.city}</span>
                                        <span>{$vo.district}</span>
                                        <span>{$vo.address}</span>
                                    </li>
                                    <li class="sx3"><span>{$vo.phone}</span></li>
                                    <li class="sx5">
                                        {if $vo.is_default eq 1}
                                        <span style="font-size:14px;background:#ffaa45;padding:2px;font-weight:400;">
                                            <a>默认地址</a>
                                        </span>
                                        {/if}
                                        <a href="javascript:;" onclick="address_edit({$vo.address_id})" class="co_blue">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a href="javascript:;" onclick="del_addr(this,{$vo.address_id},'{url('User/DelAddr')}?aid='+{$vo.address_id})" class="co_blue">删除</a>
                                    </li>
                                    {/foreach}
                                    {/if}
                                </ul>
                            </div>
                            <p class="gp_num2">已保存
                                <em class="red">2</em>条地址，还可以保存
                                <em class="red">18</em>条地址
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer-s-->
        <div class="tpshop-service">
            <ul class="w1224 clearfix">
                <li>
                    <i class="ico ico-day7"></i>
                    <p class="service">7天无理由退货</p>
                </li>
                <li>
                    <i class="ico ico-day15"></i>
                    <p class="service">15天免费换货</p>
                </li>
                <li>
                    <i class="ico ico-quality"></i>
                    <p class="service">正品行货 品质保障</p>
                </li>
                <li>
                    <i class="ico ico-service"></i>
                    <p class="service">专业售后服务</p>
                </li>
            </ul>
        </div>
        <div class="footer">
            <div class="w1224 clearfix" style="padding-bottom: 10px;">
                <div class="left-help-list">
                    <div class="help-list-wrap clearfix">
                        <dl>
                            <dt>购物指南</dt>
                            <dd><a href="/Home/Article/detail/article_id/5.html">会员修改密码</a></dd>
                            <dd><a href="/Home/Article/detail/article_id/6.html">修改个人资料</a></dd>
                            <dd><a href="/Home/Article/detail/article_id/7.html">会员等级</a></dd>
                            <dd><a href="/Home/Article/detail/article_id/8.html">常见问题</a></dd>
                            <dd><a href="/Home/Article/detail/article_id/22.html">修改收货地址</a></dd>
                        </dl>
                        <dl>
                            <dt>售后服务</dt>
                            <dd><a href="/Home/Article/detail/article_id/14.html">售后政策</a></dd>
                            <dd><a href="/Home/Article/detail/article_id/15.html">退换货流程</a></dd>
                            <dd><a href="/Home/Article/detail/article_id/16.html">退款说明</a></dd>
                            <dd> <a href="/Home/Article/detail/article_id/17.html">取消订单</a></dd>
                        </dl>
                        <dl>
                            <dt>新手上路</dt>
                            <dd><a href="/Home/Article/detail/article_id/1.html">新用户注册</a></dd>
                            <dd><a href="/Home/Article/detail/article_id/2.html">积分细则</a></dd>
                            <dd><a href="/Home/Article/detail/article_id/3.html">忘记密码</a></dd>
                            <dd><a href="/Home/Article/detail/article_id/4.html">如何搜索</a></dd>
                            <dd><a href="/Home/Article/detail/article_id/23.html">积分兑换说明</a></dd>
                        </dl>
                        <dl>
                            <dt>支付方式</dt>
                            <dd><a href="/Home/Article/detail/article_id/9.html">银联支付</a></dd>
                            <dd><a href="/Home/Article/detail/article_id/10.html">支付宝支付</a></dd>
                            <dd><a href="/Home/Article/detail/article_id/11.html">微信支付</a></dd>
                            <dd><a href="/Home/Article/detail/article_id/12.html">余额支付</a></dd>
                            <dd><a href="/Home/Article/detail/article_id/13.html">分期付款</a></dd>
                        </dl>
                        <dl>
                            <dt>配送方式</dt>
                            <dd><a href="/Home/Article/detail/article_id/18.html">免运费政策</a></dd>
                            <dd><a href="/Home/Article/detail/article_id/19.html">物流查询</a></dd>
                            <dd><a href="/Home/Article/detail/article_id/20.html">上门自提</a></dd>
                            <dd><a href="/Home/Article/detail/article_id/21.html">配送服务承诺</a></dd>
                        </dl>
                    </div>
                    <div class="friendship-links clearfix">
                        <span>友情链接 :</span>
                        <div class="links-wrap-h clearfix">
                            <a href="http://www.taobao.com" target="_blank">淘宝商城</a>
                            <a href="http://www.tmall.com" target="_blank">天猫商城</a>
                            <a href="http://www.jd.com" target="_blank">京东商城</a>
                            <a href="http://www.gome.com.cn" target="_blank">国美商城</a>
                            <a href="https://www.suning.com" target="_blank">苏宁易购</a>
                            <a href="http://www.yhd.com" target="_blank">1号点</a>
                            <a href="https://www.mi.com" target="_blank">小米商城</a>
                            <a href="https://www.hc360.com" target="_blank">慧聪网</a>
                            <a href="https://www.1688.com" target="_blank">阿里巴巴</a>
                            <a href="https://store.meizu.com" target="_blank">魅族商城</a>
                            <a href="https://www.vmall.com" target="_blank">华为商城</a>
                        </div>
                    </div>
                </div>
                <div class="right-contact-us">
                    <h3 class="title">联系我们</h3>
                    <span class="phone">123456789</span>
                    <p class="tips">周一至周日8:00-18:00<br />(仅收市话费)</p>
                </div>
            </div>
            <div class="mod_copyright p">
                <div class="grid-top">
                    <!-- <a href="javascript:void (0);">关于我们</a><span>|</span>
                    <a href="javascript:void (0);">联系我们</a><span>|</span>
                    <a href="/Home/Article/detail/article_id/18.html">免运费政策</a><span>|</span>
                    <a href="/Home/Article/detail/article_id/19.html">物流查询</a><span>|</span>
                    <a href="/Home/Article/detail/article_id/20.html">上门自提</a><span>|</span>
                    <a href="/Home/Article/detail/article_id/21.html">配送服务承诺</a><span>|</span> -->
                </div>
                <p>Copyright © 2016-2025 最好的B2B2C商城 版权所有 保留一切权利 备案号:粤12345678号</p>
                <p class="mod_copyright_auth">
                    <a class="mod_copyright_auth_ico mod_copyright_auth_ico_1" href="" target="_blank">经营性网站备案中心</a>
                    <a class="mod_copyright_auth_ico mod_copyright_auth_ico_2" href="" target="_blank">可信网站信用评估</a>
                    <a class="mod_copyright_auth_ico mod_copyright_auth_ico_3" href="" target="_blank">网络警察提醒你</a>
                    <a class="mod_copyright_auth_ico mod_copyright_auth_ico_4" href="" target="_blank">诚信网站</a>
                    <a class="mod_copyright_auth_ico mod_copyright_auth_ico_5" href="" target="_blank">中国互联网举报中心</a>
                </p>
            </div>
        </div>
        <style>
            .mod_copyright { border-top: 1px solid #EEEEEE; } .grid-top { margin-top: 20px; text-align: center; } .grid-top span { margin: 0 10px; color: #ccc; } .mod_copyright > p { margin-top: 10px; color: #666; text-align: center; } .mod_copyright_auth_ico { overflow: hidden; display: inline-block; margin: 0 3px; width: 103px; height: 32px; background-image: url(__HOME__/images/ico_footer.png); line-height: 1000px; } .mod_copyright_auth_ico_1 { background-position: 0 -151px; } .mod_copyright_auth_ico_2 { background-position: -104px -151px; } .mod_copyright_auth_ico_3 { background-position: 0 -184px; } .mod_copyright_auth_ico_4 { background-position: -104px -184px; } .mod_copyright_auth_ico_5 { background-position: 0 -217px; }
        </style>
        <!--footer-e-->
        <script type="text/javascript">
            $(function() {
                $('.choice_hobby').click(function() {
                    $(this).toggleClass('red');
                })
            })

            //地区三级联动
            $().ready(function(){
                $.ajax({
                    type:'get',
                    url:'{:url("User/AddAddr")}',
                    data:{'id':1},
                    dataType:'json',
                    async:false,
                    success:function(res){
                        var str = '';
                        $.each(res,function(k,v){
                            str+="<option value="+v.id+">";
                            str+=v.name;
                            str+="</option>";
                        })
                        $('.prov').html(str);
                    }
                })
                getData($('.prov'))
                $('.prov').change(function(){
                    getData($('.prov'))
                    getData($('.city'))
                })
                getData($('.city'))
                $('.city').change(function(){
                    getData($('.city'))
                })
        })

        function getData(ele){
            var id = ele.val()
            // console.log(id)
            $.ajax({
                type:'get',
                url:'{:url("User/AddAddr")}',
                data:"id="+id,
                dataType:'json',
                async:false,
                success:function(res){
                    var str = '';
                    $.each(res,function(k,v){
                        str+="<option value="+v.id+">";
                        str+=v.name;
                        str+="</option>";
                    })
                    ele.next().html(str);
                }
            })
        }

        //保存表单内容
        $('#address_add').validate({
            rules:{
                consignee:{
                    required:true,
                },
                address:{
                    required:true,
                },
                phone:{
                    required:true,
                    isPhone:true,
                }
            },
            messages:{
                consignee:{
                    required:'<font color=red>收货人必须填写</font>',
                },
                address:{
                    required:'<font color=red>详细收货地址必须填写</font>',
                },
                phone:{
                    required:'<font color=red>收件人手机号必须填写</font>',
                    isPhone:'<font color=red>请输入正确格式的手机号</font>'
                }
            },
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    type:'post',
                    dataType:'json',
                    url:'{:url("User/AddressList")}',
                    success:function(res){
                        if(res.code==1){
                            layer.msg(res.msg,{icon:6,time:1000},function(){
                                window.location.reload();
                            })
                        }
                    }
                })
            }
        })

        //修改收货地址
        function address_edit(id){
            layer.open({
                title:'编辑收货地址',
                type:2,
                area:['1200px','600px'],
                content:'{:url("User/AddrEdit")}?addr_id='+id
            })
        }

        //删除守护地址
        function del_addr(obj,id,url){
            layer.confirm('确定要删除吗',function(index){
                $.ajax({
                    data:{'aid':id},
                    type:'post',
                    dataType:'json',
                    url:"{:url('User/DelAddr')}",
                    success:function(res){
                        if(res.code==1){
                            $(obj).parents("ul").remove();
                            layer.msg(res.msg,{icon:1,time:1000});
                            window.parent.location.reload();
                        }else{
                            layer.msg(res.msg,{icon:0,time:1000});
                        }
                    }
                })    
            })
        }
        </script>
    </body>
</html>