<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>注册</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="__HOME__/css/reg3.css" rel="stylesheet" type="text/css"/>
        <link href="__HOME__/css/base.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="__HOME__/css/tpshop.css" />
        <script src="__HOME__/js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="__HOME__/js/layer/layer.js"></script>
        <!--弹窗js 参考文档 http://layer.layui.com/-->
        <script src="__HOME__/js/global.js"></script>
    </head>
    
    <body>
        <div class="regcon">
            <div class="ui_tab">
                <form id="reg_form2" method="" action="">
                    <input type="hidden" name="scene" value="1">
                    <div class="ui_tab_content">
                        <div class="m-fnbox ui_panel" style="display: block;">
                            <div class="fnlogin clearfix">
                                <div class="line">
                                    <label class="linel">
                                        <span class="dt">用户名：</span></label>
                                    <div class="liner">
                                        <input type="text" class="inp fmobile J_cellphone" placeholder="请输入用户名" name="user_name"  id="user_name" readonly="readonly"  style="border:none" value="{$uinfo.user_name}">
                                        <input type="hidden" name="user_id" value="{$uinfo.user_id}" id="user_id">
                                    </div>
                                </div>
                                <div class="line">
                                    <label class="linel">
                                        <span class="dt">旧密码：</span></label>
                                    <div class="liner">
                                        <input type="text" class="inp fpass J_password" placeholder="请输入旧密码" autocomplete="off" maxlength="16" id="oldpassword" name="oldpassword" value="" required="" /></div>
                                </div>
                                <div class="line">
                                    <label class="linel">
                                        <span class="dt">新密码：</span></label>
                                    <div class="liner">
                                        <input type="text" class="inp fsecpass J_password2" placeholder="请输入新密码" autocomplete="off" maxlength="16" id="password" name="password" required="" value="" />
                                    </div>
                                </div>
                                <div class="line liney clearfix">
                                    <label class="linel">&nbsp;</label>
                                    <div class="liner">
                                        <a class="regbtn J_btn_agree" href="javascript:void(0);" onClick="redpassword();" id='son'>提交</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        </div>
        <!--footer-s-->
        <!--footer-e-->
        <script>
            $(document).ready(function() {
                $('input').click(function() {
                    $(this).siblings('p').hide();
                });
            });

           function redpassword(){
                var oldpassword = $('#oldpassword').val();
                var password = $('#password').val();
                var uid = $('#user_id').val();
                $.ajax({
                    data:{'oldpassword':oldpassword,'password':password,'user_id':uid},
                    type:'post',
                    url:'{:url("User/ChangePassword")}',
                    dataType:'json',
                    success:function(res){
                        if(res.code==1){
                            layer.msg(res.msg,{icon:1,time:1000},function(){
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.$('.btn-refresh').click();
                                parent.layer.close(index);
                            }); 
                        }else{
                            layer.msg(res.msg,{icon:0,time:1000});
                        }
                    } 
                });
           }
        </script>
    </body>

</html>

