<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>我的账户</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link rel="stylesheet" type="text/css" href="__HOME__/css/tpshop.css" />
        <link rel="stylesheet" type="text/css" href="__HOME__/css/myaccount.css" />
        <link rel="stylesheet" href="__HOME__/css/location.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="__HOME__/css/base.css" />
        <link rel="shortcut icon" type="image/x-icon" href="__HOME__/images/logo/storeico_default.png" media="screen" />
        <link rel="stylesheet" type="text/css" href="__HOME__/js/layui/css/layui.css">
        <script src="__HOME__/js/jquery-1.11.3.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="__HOME__/js/layer/layer.js" type="text/javascript"></script>
        <script src="__HOME__/js/global.js" type="text/javascript"></script>
        <style>.list1 li{float:left;}</style>
    </head>
    <body class="bg-f5">
        <div class="tpshop-tm-hander home-index-top p">
            <div class="top-hander clearfix">
                <div class="w1224 pr clearfix">
                    <div class="fl">
                        <div class="fl nologin">
                            {if session('infos.user_id')}
                            欢迎用户:<a class="red" href="{:url('User/mineinfo')}">{:session('infos.user_name')}</a>&nbsp;&nbsp;
                            <a class=red href="{:url('Login/LoginOut')}" title="退出" target="_self">安全退出</a>
                            {else/}
                                <a href="{:url('Login/login')}">登录</a>
                                <a href="{:url('User/reg')}">注册</a>
                            {/if}
                        </div>
                    </div>
                    <ul class="top-ri-header fr clearfix">
                        <li><a target="_blank" href="{:url('user/userOrderList')}">我的订单</a></li>
                        <li class="spacer"></li>
                        <li><a target="_blank" href="/index.php/Home/User/visit_log.html">我的浏览</a></li>
                        <li class="spacer"></li>
                        <li><a target="_blank" href="/index.php/Home/User/goods_collect.html">我的收藏</a></li>
                        <li class="spacer"></li>
                        <li>客户服务</li>
                        <li class="spacer"></li>
                        <li class="hover-ba-navdh">
                            <div class="nav-dh">
                                <span>网站导航</span>
                                <i class="share-a_a1"></i>
                            </div>
                            <ul class="conta-hv-nav clearfix">
                                <li><a href="/index.php/Home/Activity/promoteList.html">优惠活动</a></li>
                                <li><a href="/index.php/Home/Activity/pre_sell_list.html">预售活动</a></li>
                                <!--<li>
                                <a href="/index.php/Home/Goods/integralMall.html">拍卖活动</a></li>-->
                                <li><a href="/index.php/Home/Goods/integralMall.html">兑换中心</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="nav-middan-z p home-index-head">
            <div class="header w1224">
                <div class="ecsc-logo">
                    <a href="/" class="logo">
                        <img src="__HOME__/upload/logo/2017/11-07/ac0351f4284b701cb9afe48726834a46.png" style="width: 159px;height: 58px">
                    </a>
                </div>
                <div class="m-index">
                    <a href="/index.php/Home/User/index.html" class="index">我的商城</a>
                    <a href="/" class="home">返回商城首页</a>
                </div>
                <div class="m-navitems">
                    <ul class="fixed p">
                        <li><a href="/index.php/Home/Index/index.html">首页</a></li>
                        <li>
                            <div class="u-dl">
                                <div class="u-dt">
                                    <span>账户设置</span><i></i>
                                </div>
                                <div class="u-dd">
                                    <a href="{:url('User/UserInfo')}">个人信息</a>
                                    <!--<a href="/index.php/Home/User/safety_settings.html">安全设置</a>-->
                                    <a href="{:url('User/AddressList')}">收货地址</a>
                                </div>
                            </div>
                        </li>
                        <li class="u-msg">
                            <a class="J-umsg" href="">消息<span></span></a>
                        </li>
                        <li><a href="">积分商城</a></li>
                        <li class="search_li">
                            <form id="sourch_form" id="sourch_form" method="post" action="{:url('User/mineinfo')}">
                                <input class="search_usercenter_text" name="keywords" id="" type="text" value="" />
                                <a class="search_usercenter_btn" href="javascript:;" onclick="if($.trim($('#q').val()) != '') $('#sourch_form').submit();">搜索</a>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="u-g-cart fr" id="hd-my-cart">
                    <a href="/index.php/Home/Cart/index.html">
                        <div class="c-n fl">
                            <i class="share-shopcar-index"></i>
                            <span>我的购物车</span>
                            <em class="shop-nums" id="cart_quantity"></em>
                        </div>
                    </a>
                    <div class="u-fn-cart" id="show_minicart">
                        <div class="minicartContent" id="minicart"></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="__HOME__/js/common.js"></script>
        <div class="home-index-middle">
            <div class="w1224">
                <div class="g-crumbs">
                    <a href="/index.php/Home/User/index.html">我的商城</a>
                </div>
                <div class="home-main">
                	<!--引入左侧菜单-->
                     {include file="pub/left"}
                    <div class="ri-menu fr">
                        <div class="menu-ri-t p">
                            <div class="mu-head fl">
                                {if isset($level.head_pic)}
                                <img width="100" height="100" src="{$level.head_pic}" />
                                {else/}
                                <img width="100" height="100" src=" __HOME__/images/pers.png" />
                                {/if}
                            </div>
                            <div class="mu-midd fl">
                                <a class="mu-m-phone" href=""></a>
                                <a class="mu-m-vip">{$level.level_name}</a>
                                <p>
                                    <span>账户安全：</span>
                                    <span class="tt-zd">
                                        <i style="width: 30%;"></i>
                                    </span>
                                    <span class="c_ye">较低</span>
                                </p>
                            </div>
                            <div class="mu-afte fl">
                                <ul class="mu-a1">
                                    <li class="" hidden>
                                        <a href="">
                                            <i class="icon-card"></i>
                                            <span>会员折扣</span>
                                            <em class="mu-unit">{$level.discount}折</em>
                                            <em class="mu-num">10</em>
                                            <i class="icon-ar"></i>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="">
                                            <i class="icon-balance"></i>
                                            <span>账户余额</span>
                                            <em class="mu-unit">&nbsp;元</em>
                                            <em class="mu-num">0.00</em>
                                            <i class="icon-ar"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <i class="icon-point"></i>
                                            <span>可用积分</span>
                                            <em class="mu-unit">&nbsp;分</em>
                                            <em class="mu-num">100</em>
                                            <i class="icon-ar"></i>
                                        </a>
                                    </li>
                                </ul>
                            <!-- <ul class="mu-a2">
                                <li>
                                    <a href="/index.php/Home/User/coupon.html">
                                        <i class="icon-coupon"></i>
                                        <span>优惠券</span>
                                        <em class="mu-unit">&nbsp;张</em>
                                        <em class="mu-num">0</em>
                                        <i class="icon-ar"></i>
                                    </a>
                                </li>
                            </ul> -->
                            </div>
                        </div>
                        <div class="order-list p">
                            <div class="ddlb-ayh">
                                <div class="ddlb-tit">

                                    <h1>我的订单</h1>
                                    <a class="u-view-all" href="/index.php/Home/Order/order_list.html">查看全部订单</a>
                                    <!--<i class="u-sep"></i>-->
                                    <!--<a class="u-view-pre" href="">预售单<span class="hide">(待付款 <em>0</em>)</span></a>-->
                                </div>
                                {if !empty($orders)}
                                {foreach $orders as $order}
                                <table width="100%" border="0" cellspacing="" cellpadding="" style="margin-top:151pxpx">
                                {foreach $order as $k=>$v}
                                    {if condition="$k lt 1"}
                                    <tr class="time_or">
                                        <td colspan="6">
                                            <div class="fl_ttmm">
                                                <span class="time-num">下单时间：<em class="num">{:date('Y-m-d H:i:s',$v['add_time'])}</em></span>
                                                <span class="time-num">订单编号：<em class="num">{$v.order_sn}</em></span>
                                                <div class="paysoon">
                                                    {if condition="$v['order_status'] neq 3"}
                                                    {if condition="$v['pay_status'] eq 0"}
                                                    <a class="ps_lj" href="/index.php/home/Cart/cart4/order_id/1638.html" target="_blank">立即支付</a>
                                                    {/if}
                                                    {if condition="$v['order_status'] neq 4"}
                                                    <a class="consoorder" href="javascript:void(0);" onClick="cancel_order({$v.order_id})">取消订单</a>
                                                    {/if}
                                                    {/if}
                                                    <!--<div class="dele"></div>-->
                                                </div>
                                            </div>
                                            <div class="fr_ttmm"></div>
                                        </td>
                                    </tr>
                                    {/if}
                                    <tr class="conten_or">
                                        <td class="sx1">  
                                            <div class="shop-if-dif">
                                                <div class="shop-difimg">
                                                    <img src="{:explode(',',$v.img)[0]}" width="60" height="60" />
                                                </div>
                                                <div class="shop_name">
                                                    <a href="/index.php/home/Goods/goodsInfo/id/105.html">{$v.good_name}
                                                         <p>{$v.spec_key_name}</p>
                                                     </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="sx2">
                                            <span>￥</span>
                                            <span>{$v.good_price}</span>
                                        </td>
                                        <td class="sx3">
                                            <span>x{$v.good_num}</span>
                                        </td>
                                        <td class="sx4" rowspan="1">
                                            {if condition="$k lt 1"}
                                            <div class="pric_rhz">
                                                <p class="d_pri">
                                                    <span>￥</span>
                                                    <span>{$v.order_amount}</span>
                                                </p>
                                                <p class="d_yzo">
                                                    <spna>含运费：</spna>
                                                    <span>0.00</span>
                                                </p>
                                                <p class="d_yzo">
                                                    <a href="javascript:void(0);"></a>
                                                </p>
                                            </div>
                                            {/if}
                                        </td>
                                        <td class="sx5" rowspan="1">
                                            {if condition="$k lt 1"}
                                            <div class="detail_or">
                                                <p class="d_yzo">
                                            {if condition="$v['order_status'] eq 3"}
                                                已取消
                                                {else/}
                                                {if condition="$v['pay_status'] eq 0"}
                                                待支付
                                                {else/}
                                                已支付
                                                {/if}
                                                </p>
                                                <p><a href="{:url('User/details',['order_id'=>$v['order_id']])}">查看详情</a></p>
                                            {/if}
                                            </div>
                                            {/if}
                                        </td>
                                        <td class="sx6" rowspan="1">
                                            {if condition="$k lt 1"}
                                            <div class="rbac">
                                            {if condition="$v['order_status'] eq 1"}
                                                <p class="">等待商家发货</p>
                                            {/if}
                                            {if condition="$v['order_status'] eq 2"}
                                                <p class=""> <a href="javascript:void(0);" onClick="order_confirm({$v.order_id})">确认收货</a></p>
                                            {/if}
                                            {/if}
                                            {if condition="$v['order_status'] eq 4"}
                                                {if condition="$v['is_comment'] eq 0"}
                                                <p class=""> <a href="javascript:userComment({$v.good_id},{$v.order_id})">去评论</a></p>
                                                {else/}
                                                <p class=""> 已评论 </p>
                                                {/if}
                                                <p class=""> <a href="{:url('home/Product/productDetails')}?good_id={$v.good_id}">再次购买</a></p>
                                            {/if}
                                            </div>
                                            
                                        </td>
                                    </tr>
                                    {/foreach}
                                </table>
                                {/foreach}
                                {/if}
                            </div>
                        </div>
                        <div class="order-list bgno p">
                            <div class="ddlb-zy">
                                <div class="coll-coupon fl">
                                    <div class="coll-etl">
                                        <div class="ddlb-tit">
                                            <h1>我的收藏</h1>
                                            <!--<a class="cx-fk" class="J-childCollect" href="/index.php/Home/User/goods_collect.html">促销（<em>0</em>）</a>-->
                                            <a class="u-view-all" href="/index.php/Home/User/goods_collect.html">查看更多</a></div>
                                        <div class="shop-sc-t">
                                            <ul></ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="coll-coupon malrh fl">
                                    <div class="coupon-etl">
                                        <div class="ddlb-tit">
                                            <h1>我的优惠券</h1>
                                            <a class="u-view-all" href="/index.php/Home/User/coupon.html">查看更多</a></div>
                                        <div class="shop-sc-t"></div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--footer-s-->
        {include file="pub/foot"}
      	<!--footer-e-->
        <script type="text/javascript" src="__HOME__/js/layui/layui.js"></script>
        <script type="text/javascript">
            //取消订单
            function cancel_order(id) {
                layer.confirm('确定取消订单?', {
                    btn: ['确定', '取消'] //按钮
                },function() {
                    // 确定
                    location.href = "";
                },function(index) {
                    layer.close(index);
                });
            }
            //确定收货
            function order_confirm(order_id) {
                layer.confirm("你确定收到货了吗?", {
                    btn: ['确定', '取消']
                },function() {
                    $.ajax({
                        type: 'post',
                        url: '',
                        dataType: 'json',
                        success: function(data) {
                            if (data.status == 1) {
                                window.location.href = data.url;
                            } else {
                                layer.open({
                                    content: data.msg,
                                    time: 2
                                });
                                verify();
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            showErrorMsg('网络失败，请刷新页面后重试');
                        }
                    })
                },function(index) {
                    layer.close(index);
                });
            }

            function refund_order(obj) {
                layer.open({
                    type: 2,
                    title: '<b>订单取消申请</b>',
                    skin: 'layui-layer-rim',
                    shadeClose: true,
                    shade: 0.5,
                    area: ['600px', '500px'],
                    content: $(obj).attr('data-url'),
                });
            }
            // $('#headpic').click(function(){
            //     layer.open({
            //         title:'头像上传',
            //         type: 2,
            //         skin: 'layui-layer-rim', //加上边框
            //         area: ['620px', '480px'], //宽高
            //         content: "{:url('User/showPic')}",    
            //     });

            // })  

             
        </script>
    </body>
</html>
